::ng-deep .cdk-overlay-container {
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    right:0;
    top: 0;
    margin: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white;
}

agm-map{
    height: 300px;
    width: 100%;
}